:root{
    --BgColor: #d9dcd6;
    --color1: #2a607c;
    --color2: #ffffff;
    --color3: #0072bb;
    --width: 100%;
    --figMargin: 25px;
    --maxHeight: 200px;
    --contentMargin: 20px;
    --contentpadding: 50px;
    --contentheight: 300px;
    --contentH2: 36px;
    --benefitMargin: 32px;
    --benefitH3: 10px;
    --benefitAlign: center;
    --benefitDisplay: block;
    --benefitMargin: 10px auto;
    --benefitMax-width: 150px;


}
/* Universal Selector */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* Element Selectors select all of that element type */
body {
    background-color: var(--BgColor);
}

a {
    color: var(--color2);
    text-decoration: none;
}

p {
    font-size: 16px;
}
/* Class Selectors select all elements with that class */

/*header classes*/
.header {
    width: var(--width);
    display: inline-flex;
    justify-content: space-between;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--color1);
    color: var(--color2);
}

.header h1 {
    display: inline-flex;
    font-size: 48px;
}

.header h1 .seo {
    color: var(--BgColor);
}

nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--color1);
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-flex;
    margin-left: 25px;
}
/*figure classes*/
.hero {
    height: 800px;
    width: var(--width);
    margin-bottom: var(--figMargin);
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: var(--figMargin);
}

.float-right {
    float: right;
    margin-left: var(--figMargin);
}
/*Main classes*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

#mainContent {
    margin-bottom: var(--contentMargin);
    padding: var(--contentpadding);
    height: var(--contentheight);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--color3);
    color: var(--color2);
}

#mainContent img {
    max-height: var(--maxHeight);
}

#mainContent h2 {
    margin-bottom: var(--contentMargin);
    font-size: var(--contentH2);
}

/*aside classes*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.asideContent {
    margin-bottom: var(--benefitMargin);
    color: var(--color2);
}

.asideContent h3 {
    margin-bottom: var(--benefitH3);
    text-align: var(--benefitAlign);
}

.asideContent img {
    display: var(--benefitDisplay);
    margin: var(--benefitMargin);
    max-width: var(--benefitMax-width);
}

/*Footer classes*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h4 {
    font-size: 20px;
}
/*Media query*/
@media screen and (max-width: 992px) {
    .header ul {
    display: inline-flex;
        }

    .search-engine-optimization img ,
    .online-reputation-management img,
    .social-media-marketing img    {
    max-height: 150px;
    }

    .content, 
    .search-engine-optimization,
    .online-reputation-management,
    .social-media-marketing,
    .benefits  {
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    height: fit-content;
    width: var(--width);
    margin: 3% 0%;
    }
  }

@media screen and (max-width: 768px) {
    .search-engine-optimization img ,
    .online-reputation-management img,
    .social-media-marketing img    {
    max-height: 150px;
    }
    .header {
    display:inline-block;
      
        }
    
}